 *{
   margin: 0;
   font-family: Arial;
   border: border-box;
 }
 .navbar{
   height: 60px;
   background-color: #0f1111;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
 }
 .navlogo{
   height: 50px;
   width: 50px;
   display: flex;
 }
 .logo{
   background-image: url(/amazon-dark-logo-png-transparent.png);
   height: 50px;
   width: 50px;
   background-size:cover;
 }
 .border{
   border: 1px solid transparent;
 }
.border:hover{
  border: 2px solid white;
  
  /**box2**/
}
.navaddress{
  width: 80px;
  text-align: center;
}
.navsearch{
  width: 450px;
  height: 50px;
  display: flex;
  
}
.in{
  font-size: 1rem;
  border: none;
}
.s{
  font-size: 1.5rem;
}
.searchimg{
  background-color: white;
  background-image: url(/images.jpeg);
  height: 45px;
  width: 45px;
  background-size: cover;
}
span{
  font-size: 0.7rem;
}
.text{
  font-size: 0.85rem;
  font-weight: 700;
}
img{
  height: 60px;
  width: 60px;
  margin: 0;
  padding: 0;
}
.cart{
  font-weight: 700;
}
.h{
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
}
b{
  font-weight: 700;
  
}
/** div no2**/
.pannel{
  background-color: #222f3d;
  height: 45px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.ops p{
  display: inline;
  margin-left: 10px;
}
.ops{
  width: 70%;
  font-size: 0.85rem;
}
#p{
  height: 25px;
  width: 25px;
}
.o{
  font-size: 20px;
}
.deals{
  font-size: 0.9rem;
  font-weight: 700;
}

/** hero section **/

.hero{
  background-image: url(/online.jpg);
  height: 400px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.message{
  background-color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.85rem;
  width: 90%;
  margin-bottom: 180px;
  
}
a{
  text-decoration: none;
  color: #007185;
}

/**shopping section**/
.shopsection{
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  flex-wrap: wrap;
}

.box{
  border: 2px solid black;
  height: 400px;
  width: 23%;
background-color: mintcream;
padding: 20px,0px,15px;
margin-top: 17px;
}
.boximg1{
  background-image:url(/coconut.jpg);
  height:200px;
  width: 200px;
  background-size: cover;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.boximg2{
  background-image:url(/realistic.jpg);
  height:200px;
  width: 200px;
  background-size: cover;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.boximg3{
  background-image:url(/smartphone.jpg);
  height:200px;
  width: 200px;
  background-size: cover;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.boximg4{
  background-image:url(/360_F_5a.jpg);
  height:200px;
  width: 200px;
  background-size: cover;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/**footer **/

.pannel1{
  margin-top: 15px;
  background-color: #37574A;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
}
.pannel2{
  background-color: #222f3d;
  color: white;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
}
ul{
  margin-top: 20px
}
  ul a{
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
}
.pannel3{
  background-color: #222f3d;
  color: white;
  border-top: 0.5px solid white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}
.logo2{
   background-image: url(/amazon-dark-logo-png-transparent.png);
   height: 100px;
   width: 100px;
   background-size:cover;
}
.pannel4{
  background-color: #0f1111;
  color: white;
  height:80px;
  text-align: center;
  font-size: 1rem;
/**  display: flex;
  align-items: center;
  justify-content: space-evenly; **/
}
.pages1{
  padding-top: 25px;
}
.copyright{
  padding-top: 15px;
}